// app global css in SCSS form
*{
    overflow-x: hidden;
}

html{
    background-color: #201E1F;
}

.w100 {
    width: 100%;
}

.w80{
    width: 80%;
}
.w60 {
    width: 60%;
}

a{
    text-decoration: none;
    outline: none;
}

.relative {
    position: relative;
}

#dev-by{
    color: #51a8b1;
    transition: all .2s linear;
}

#dev-by:hover{
    color: #C4BFBB;
}